tests/data/expect/sd/sd_unet.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/sdxl/sdxl_unet.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/algorithm/recifited_flow_20steps_flux.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/algorithm/sgm_uniform_20steps.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/flux/flux_text_encoder_2.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/qwen_image/qwen_image_dit_output.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/sd/sd_text_encoder.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/sdxl/sdxl_text_encoder_2.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/test_siglip_image_encoder.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/wan/wan_vae.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/algorithm/beta_20steps.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/algorithm/karras_20steps.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/flux/flux_dit.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/flux/flux_vae.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/sd/sd_vae.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/sdxl/sdxl_text_encoder_1.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/sdxl/sdxl_vae.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/input/qwen_image/qwen_image_dit_input.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/algorithm/euler_i10.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/algorithm/exponential_20steps.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/algorithm/scaled_linear_20steps.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/qwen_image/qwen2_5_vl.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/algorithm/ddim_20steps.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/algorithm/flow_match_euler_i10.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/algorithm/output.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/expect/flux/flux_text_encoder_1.safetensors filter=lfs diff=lfs merge=lfs -text
tests/data/input/wan_s2v/* filter=lfs diff=lfs merge=lfs -text
